@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html *{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
}
body{
    border: 0;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2em;
}

h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1em;
}
p{
    font-size: 1em;
}
section{
    margin: 3em 0;
}
a{
    text-decoration: none;
}
.logoImage{
    margin-bottom: 10px;
    width: 50px;
}
.navbar{
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbarItem{
    display: inline-block;
    margin: 0 10px;
}
.navbarItem a{
    color: white;
    text-decoration: none;
}
.navbarItem a:hover{
    color: aquamarine;
}
.logo{
    /* margin-top: 5px; */
    margin-left: 20px;
    margin-right:auto;
}
.menu{
    display: none;
}
.menu-line{
    width: 30px;
    height: 2px;
    background-color: white;
    margin-bottom: 4px;
}

.sectionOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 4em;

}
.sectionOneBlockOne{
    padding-top: 100px;
}
.sectionOneBlockOneIcon{
    display: grid;
    margin: 1em 0.5em;
    padding:2em;
    padding-left: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.icon{
    width: 56px;
}
.icon:hover{
    color: #ffc200;
}

.imageOne{
    width: 100%;
    padding: 40px 50px ;
    border-radius: 100%;
}

.sectionTwo{
    background-color:black;
    margin: 15% 0;
    text-align: center;

}
.sectionTwo ul{
    list-style: none;
}
.sectionTwo li{
    display: inline;
}
.sectionTwoList{
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    margin: auto;
    

}
.language{
    padding: 0 3em;
}

.sectionFour{
    /* border: 1px white solid ; */
    margin: 2em 6em;
    padding: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sectionThree{
    text-align: center;
}
.sectionThree img{
        display: inline-block

}
.Project{
    padding: 2em ;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
.Project:hover{
    transform: scale(1.1);
}
.sectionFourMap{
    width: 100%;
    height: 100%;
}
.sectionfourLink{
    background-color: #5b5b5b;
    margin-top: 1em;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.sectionFourTwo{
    margin-left: 2em;
}

.sectionTwoList p{
    font-size: 1.5rem;
}

@media (max-width: 900px){
    .navbarItem{
        display: inline-block;
        margin: 0 10px;
    }
    .imageOne{
        width: 100%;
        padding: 40px 0;
        border-radius: 100%;
    }
    .sectionFour{
        margin: 2em 3em;
        padding: 1.5em;
        display: grid;
    }
    .sectionFourTwo{
        margin-left: 1em;
    }
}
@media (max-width: 760px){
    .menu{
        display: block;
        margin-right: 40px;
        margin-left: auto;
    }
    .navbarItem{
        padding: 2px;
        width: 100%;
        display: none;
        /* text-align: ; */
    }
    .active{
        display: block;
    }
    .icon{
        width: 45px;
    }
    .sectionOneBlockOne{
        padding-top: 10px;
    }
    .sectionOne{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0.5em 4em;
    
    }
    .imageOne{
        width: 100%;
        padding: 10;
        border-radius: 100%;

    }
    .sectionTwoList{
        display: flex;
        justify-content: space-around;
        padding: 1.5em;
        margin: auto;
        
    
    }
    
    .language{
        padding: 0
    }
    .Project{
        padding: 2em ;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .sectionFour{
        margin: 2em 3em;
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sectionFourMap{
        height: 400px;
        padding-bottom: 2em;
        margin: 1em;
    }
    .sectionFourTwo{
        margin-left: 1em;
    }

}
@media (max-width: 600px){
    h1,h2,h3,h4,p,label{
        font-size: 0.85rem;
    }
    .icon{
        width: 30px;
    }
    .sectionFour{
        /* border: 1px white solid ; */
        margin: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sectionTwoList p{
        font-size: 1.1rem;
    }
}
@media (max-width: 450px){
    h2{
        font-size: 0.1rem
    }
    h1,h3,h4,pl{
        font-size: 0.1rem;
    }
    .imageOne{
        width: 100%;

    }
    
    .sectionTwo{
        background-color:black;
        margin:0;
        text-align: center;
    
    }
    .sectionTwoList{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .language{
        padding: 0;
    }
    .sectionFour{
        margin: 1.5em;
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sectionFourMap{
        height: 400px;
        padding-bottom: 2em;
        margin: 0.5em;
    }
}
@media (max-width: 400px){
    .logo{
        font-size: 0.3rem
    }
}